.venv/
__pycache__/
*.pyc

# uv
.uv/

# 编辑器/系统
.vscode/
.idea/
.DS_Store

# 爬虫数据
wiki/
wiki_cleaned/
db/

# 日志
log/

# 配置文件
config/categories.json
uv.lock
AstralArchives.egg-info/
config/api_keys.json

# 测试
tests/
output/
output.md
config/api_keys.db
